# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, buit with `go test -c`
*.test

# Output of the go coverage tool
*.out

# Dependency directory
# vendor/

# OS specific files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
*.log

# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# Go workspace files
go.work

# Binary Output Directory
/bin/
/dist/

# Local environment variables
.env
.env.local

# Database specific
*.db
